<section class="dog-profile">
    <% matches.forEach(function(match) { %>
        <div class="dog-profile__img-container">
            <img src="/img/dogs/<%= match.image %>" alt="doggo">
        </div>
        <div class="dog-profile__content">
            <h2>
                <%= match.name %>
            </h2>
            <div>
                <p>
                    <%= match.about %>
                </p>
                <ul>
                    <li>
                        <span>Age:</span>
                        <%= match.age %> years
                    </li>
                    <li>
                        <span>Gender:</span>
                        <%= match.gender %>
                    </li>
                    <li>
                        <span>Size:</span>
                        <%= match.size %>
                    </li>
                </ul>
                <p>
                    Shelter: <%= match.shelter %>
                </p>
                <form action="/like" method="post">
                    <button name="like" type="submit" value="<%= match._id %>" class="btn-like">Like</button>
                </form>
                <form action="/deleteDog" method="POST">
                    <button name="delete" type="submit" id="delete" value="<%= match._id %>">
                        Adopt!
                    </button>
                </form>
            </div>
        </div>
        <% }); %>
</section>