<section class="style-form">
    <h2>Your profile</h2>
    <form action="/profile" method="POST">
        <img class="form-img" src="img/ui/mainpom.png" alt="Main pom logo">

        <label class="label" for="firstname">Firstname:</label>
        <input type="text" name="firstname" id="firstname" value="<%= user.firstname %>">

        <label class="label" for="lastname">Lastname:</label>
        <input type="text" name="lastname" id="lastname" value="<%= user.lastname %>">

        <label class="label" for="username">Username:</label>
        <input type="text" name="username" id="username" value="<%= user.username %>">

        <label class="label" for="email">E-mail:</label>
        <input type="email" name="email" id="email" value="<%= user.email %>">

        <button class="updateBtn" name="profile" type="submit" id="profile" value="<%= user._id %>"> Update your
            profile</button>
        <p class="updateProfile">Succesfully updated your profile!</p>
    </form>
</section>